a:hover{
    color: #fc8c03;
}

a:visited {
    color:  #9d83fc
}

body {
    background-color: #eda1d6;
}

p{
    background-color: #64b1f5;

}

h1{
    color: #ffffff
}

h2{
    color: #000000
}

nav{
    color: #ffffff
}

