a:hover{
    color: #fc8c03;
}

a:visited {
    color:  #9d83fc
}

body {
    background-color: #eda1d6;

}

p{
    background-color: #64b1f5;
    padding: 10px;
    margin: 20px ;

}

h1{
    color: #ffffff;
}

h2{
    color: #000000;
}

nav {
    background-color: #ffffff;
}

nav a{
    color: #4ab545;
}

p a{
    color: #ffffff;
}

nav a:hover {
    background-color: #f5f116;
}

nav{
    padding:10px
}  

nav{
    margin-bottom: 30px;
}


.quote{
    float: right;
}

.row1, .row2{ 
    display: flex;
    padding: 5px;
    margin: 10px;
    background-color: #c594e3;
    padding-bottom:30px;
    border-radius:1em;
}


.address{
    display: flex;
    margin: 10px;
}

.email{
    display: flex;
    margin: 10px;
    padding: 5px;
    background-color: #c594e3;
    padding-bottom:30px;
    border-radius:1em;
}

.map{   
    display: flex;
    padding: 5px;
    margin: 10px;
    background-color: #c594e3;
    padding-bottom:30px;
    border-radius:1em;
}

.form{
    padding: 5px;
    margin: 10px;
    background-color: #c594e3;
    padding-bottom:30px;
    border-radius:1em;
}

.addyemail{
    display: flex;
    padding: 5px;
    margin: 10px;
    background-color: #c594e3;
    padding-bottom:30px;
    border-radius:1em;
}